:root {
    /* COLOR PLATE */
    --io-color-n-000: #fff8dc;
    --io-color-n-001: #d2169d;
    --io-color-n-002: #808000;
    --io-color-n-003: #8b4513;
    --io-color-n-004: #0f0f0f;
    /* BACKGROUND COLOR */
    --io-color-background: var(--io-color-n-000);

    /* TYPGRAPH COLOR */
    --io-color-typography-heading: var(--io-color-n-003);
    --io-color-typography-body: var(--io-color-n-003);
    --io-color-typography-price: var(--io-color-n-004);  
    
    /* TYPOGRAPHY */
    --io-typography-typeface: "Lato", Alkatra;

    /* FONT SIZE */
    --io-typography-h1: 1.7rem;
    --io-typography-h2: 1.2rem;
    --io-typography-h3: 1.0rem;
    --io-typography-h4: 9.6px;
    --io-typography-p: 0.7rem;
    
    /* LETTER SPACING  */
    --io-typography-heading-spacing: 0.5rem;
    --io-typography-content-spacing: 0.2rem;

    /* GAP */
    --io-gap: 1.4rem;

    /* PADDING */
    --io-section-padding: 1.3rem 0;
    --io-button-padding: 0.4rem 1rem;

    /* BORDER */
    --io-border: 0.12rem solid var(--io-color-n-000)

    /* SIZING */
    --io-image-height: 240px
}
/* GENERAL STYLES */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: var(--io-color-n-000);
    color: var(--io-color-typography-body);
    font-family: var(--io-typography-typeface);
    font-size: var(--io-typography-p);
    font-weight: 300;
    letter-spacing: var(--io-typography-content-spacing);
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antiliased;
}

a {
    color: var(--io-color-typography-body);
    text-decoration: none;
}

.io-Icon {
    width: 5%;
}

.io-logo {
max-width: 100px;
}

h1,
h2 {
    color: var(--io-color-typography-heading);
    letter-spacing: var(--io-typography-heading-spacing);
    text-transform: uppercase;
}

h3 {
    text-transform: uppercase;
}

h1 {
    font-size: var(--io-typography-h1);
}

h2 {
    font-size: var(--io-typography-h2);
}

li {
    list-style-type: none;
}

.io-button {
    border: var(--rc-border);
    color: var(--rc-color-n-050);
    text-transform: uppercase;
    font-weight: 600;
    background-color: transparent;
    padding: var(--rc-btn-padding);
    transition: all 0.3s ease-in-out;
}

.io-button:hover {
    background-color: var(--io-color-n-000);
    color: var(--io-color-n-004);
} 

/* LAYOUT */

.io-layout-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.io-layout-grid {
    display: grid;
}

/* HEADER */
.io-section-header-layout {
    justify-content: space-around;
    text-transform: uppercase;
    min-height: 10vh;
    padding: var(--io-section-padding);
}   

.rc-section-header-nav {
    gap: var(--io-gap);
}

.io-section-header--nav-link {
    display: flex;
    flex-direction: column;
}

.io-section-header--nav-link::after {
    content: "";
    width: 0px;
    height: 2px;
    background-color: var(--io-color-typography-body);
    position: relative;
    top: 5px;
    transition: all 0.4s ease-in-out;
}  

.io-section-header--nav-link:hover::after {
   width: 100%;
}